In [ ]:
5 == 5

True

In [ ]:
5 == 6

False

In [ ]:
if 5%2==0 :
  print  ('x este par')
else  :
  print  ('x este impar')

x este impar

In [ ]:
if 4 < 8:
  print('x mai mic decat y')
elif x > y:
  print('x mai mare decat y')
else:
  print('x si y sunt egale')

x mai mic decat y

In [ ]:
if 4 == 9:
  print('x and y are equal')
else:
  if 4 < 9:
    print('x is less than y')
  else:
    print('x is greater than y')

x is less than y

In [ ]:
inp = input('Introduceti temperatura in grade Fahrenheit: ')
fahr = float(inp)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

Introduceti temperatura in grade Fahrenheit: 73
22.77777777777778

In [ ]:
inp = input('Introduceti temperatura in grade Fahrenheit: ')
try:
 fahr = float(inp)
 cel = (fahr - 32.0) * 5.0 / 9.0
 print(cel)
except:
 print('Introduceti o valoare numerica!')

Introduceti temperatura in grade Fahrenheit: 72
22.22222222222222

In [ ]:
enter_hours=45
enter_rate=10
pay=475.0
if enter_hours>40:
  enter_rate=enter_rate*1.5
print('Salariul castigat este ', pay*enter_rate)

Salariul castigat este  7125.0

In [ ]:
enter_rate=10
pay=475.0
ore=input('Introduceti numarul de ore lucrate: ')
enter_hours=float(ore)
try:
  if enter_hours>40:
    enter_rate=enter_rate*1.5
    print('Salariul castigat este ', pay*enter_rate)
except:
  print('Introduceti o valoare numerica!')

Introduceti numarul de ore lucrate: 45
Salariul castigat este  7125.0

In [ ]:
max('Hello world')

'w'

In [ ]:
import math
print(math.sqrt(2) / 2.0)

0.7071067811865476

In [ ]:
import random
x = random.random()
print(x)

0.1756204464637957

In [ ]:
t = [1, 2, 3]
print(random.choice(t))

1

In [ ]:
def print_lyrics():
  print('Im a lumberjack, and Im okay.')
  print('I sleep all night and I work all day.')
print_lyrics()

Im a lumberjack, and Im okay.
I sleep all night and I work all day.

In [ ]:
def print_twice(nume):
  print(nume)
  print(nume)
print_twice('Ana')

Ana
Ana

In [ ]:
def adunare(a, b):
  suma = a + b
  return suma
x = adunare(3, 5)

In [ ]:
def calcul_salariu(ore, tarif_orar):
  salar=ore*tarif_orar
  return salar
inp=input('Introduceti nr de ore lucrate ')
nr_ore=float(inp)
tarif_suplimentar=1.5
tarif=1.0
if nr_ore>40:
  x = calcul_salariu(nr_ore, tarif_suplimentar)
else:
  x = calcul_salariu(nr_ore, tarif)
print(x)

Introduceti nr de ore lucrate 45
67.5

In [ ]:
prieteni = ['Alina', 'Ionel', 'Sandu']
for prieten in prieteni:
  print('La multi ani:', prieten)
print('Gata!')

La multi ani: Alina
La multi ani: Ionel
La multi ani: Sandu
Gata!

In [ ]:
count = 0
for i in [3, 41, 12, 9, 74, 15]:
  count = count + 1
print('Count: ', count)

Count:  6

In [ ]:
count = 0
list_elem = [3,41,12,9,74,15]
for i in list_elem:
  count = count + 1
print('Count: ', count)

Count:  6

In [ ]:
largest = None
print('Before:', largest)
for itervar in [3, 41, 12, 9, 74, 15]:
  if largest is None or itervar > largest : 
        largest = itervar
  print('Loop:', itervar, largest)
print('Largest:', largest)

Before: None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
Largest: 74

In [ ]:
suma=0
nr_valori=0
while True:
  try:
    line = input('gata ')
    if line == 'gata':
        break
    else:
      suma=suma+int(line)
      nr_valori=nr_valori+1
  except:
    print('Valori gresite')
print('Suma este ',int(suma))
print('Numarul de valori este ', int(nr_valori))
print('Media numerelor este ', int(suma)/int(nr_valori))

gata 5
gata 4
gata 3
gata gata
Suma este  12
Numarul de valori este  3
Media numerelor este  4.0